<div class="seller-auth">
    <div class="sign-up">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignup="ngForm" (ngSubmit)="signUp(sellerSignup.value)" class="common-form">
            <input class="form-input" type="text" ngModel name ="Full Name"  placeholder="Enter Name">
            <input class="form-input" type="email" ngModel name ="Email" placeholder="Email">
            <input class="form-input" type="password" ngModel name ="Password" placeholder="Password">
            <button class="form-button" type="submit">Submit</button>
        </form>
    </div>
</div>